@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,300&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- DESDE AQUÍ ----- */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #333;
}

.containerPrincipal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fafafa;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100px;
    height: 100px;
    background-color: #ff7979;
    border-radius: 0 0 1000px 0;
    position: fixed;
    left: 0;
    top: 0;
    transform-origin: top left;
    transition: all 0.4s ease-in-out;
}

.containerPrincipal.containerDos {
    transform: rotate(-20deg);
    transform-origin: top left; /* Ajusta la rotación desde la esquina superior izquierda */
    margin-top: 50px;
    margin-left: -30px; 
    transition: transform .5s ease-in-out;
}

#close {
    display: none; /* Inicialmente oculto */
}  

/* Cuando el contenedor principal rota (se activa el menú) */
.containerPrincipal.containerDos .menu {
    transform: rotate(0deg);
} 

/* Estado del menú al estar abierto */
/* Si el contenedor principal está en estado rotado, cambiamos los íconos */
.containerPrincipal.containerDos #open {
    display: none;
}

.containerPrincipal.containerDos #close {
    display: block;
}

.menu i {
    margin: 5px 20px 15px 5px;
    filter: invert(1);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 15px 30px 15px 30px; */
    margin: 110px auto;
    line-height: 30px;
    max-width: 1000px
}

.articleOne {
    margin-bottom: 30px;
}
.articleOne h1 {
    font-weight: 600;
    font-size: 30px;
}

.articleOne small {
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
}

.articleOne p {
    margin-top: 20px;
}

.articleTwo h2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.articleTwo img {
    width: 100%;
}

.containerPrincipal.containerDos+nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
} 
.navBar {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}
.navBar li {
    display: flex;
    margin-left: 10px;
    cursor: pointer;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

 .navBar li+li {
    margin-left: 20px;
    transform: translateX(-150%);
 }

 .navBar li+li+li  {
    margin-left: 30px;
    transform: translateX(-200%);
 }

.navBar li i {
    filter: invert(1);
    width: 45px;
    height: 45px;
}
.navBar a {
    text-decoration: none;
    color: #fafafa;
    font-weight: 600;
    font-size: 20px;
}

.navBar a:hover {
    color: #ff7979;
    transition: all .5s ease;
}

